<nav class="navbar navbar-expand-lg bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">User Management System</a>
      <form action="/users" class="d-flex" role="search" method="POST" novalidate>
         <input name="user" class="form-control me-2" type="search" placeholder="Pesquisar..." aria-label="Search">
         <button class="btn btn-outline-light" type="submit">Pesquisar</button>
      </form>
   </div>
</nav>
